@import '../../variables.scss';

.like-row {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 16px 0;

    .like-image {
        height: 56px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .names {
        display: flex;
        flex-direction: column;
        padding: 0 6px;
        color: $text-color;
        gap: 6px;
        flex-grow: 1;

        .name {
            color: lighten($color: $main-gray, $amount: 50%);
        }
    }
    
    .follow-like-button {
        padding: 8px 26px;
        border-radius: 6px;
        background-color: $blue-plus-story;
        color: $text-color;
        border: none;
        cursor: pointer;
        
        &:hover {
            background-color: $blue-register-button;
        }
    }
}