@import './src/variables.scss';

.timeline {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;

    @media screen and (min-width: 1px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
    }

    .middle-content {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        @media screen and (min-width: 1px) {
            width: 100%;
        }
    
        @media screen and (min-width: 1024px) {
            width: 80%;
        }

        .story-container {
            height: 106px;
            display: flex;
            margin: 8px 0;
            align-items: center;
            overflow-x: auto;

            @media screen and (min-width: 1px) {
                width: calc(100%);
            }
        
            @media screen and (min-width: 1024px) {
                width: calc(70%);
            }
        
            .space {
                padding: 3px;
            }
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media screen and (min-width: 1px) {
                height: calc(100vh - 250px);
                margin-top: 4px;
                padding-top: 4px;
                width: 100%;
                border-top: 1px solid darken($color: $border-color, $amount: 70%);
            }
        
            @media screen and (min-width: 1024px) {
                height: calc(100vh - 130px);
                padding: 14px 14px 0 14px;
                width: 70%;
                border-top: none;
            }
        }
    }
}