@import '../../variables.scss';

.comment-content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    color: $text-color;

    &.reply {
        width: 90%;
    }

    .user-comment {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        gap: 8px;
        flex-grow: 1;

        .username {
            font-weight: 600;
            font-size: 15px;
            display: flex;
            gap: 12px;
          
            span {
                cursor: pointer;
            }

            .time-ago {
                cursor: text;
                color: darken($color: $text-color, $amount: 40%);
                font-size: 13px;
                font-weight: 400;
                display: flex;
                align-items: flex-end;
            }
        }          

        .content {
            font-size: 14px;
        }

        .reply-translate-container {
            font-size: 13px;
            color: darken($color: $text-color, $amount: 40%);

            .reply-translate-content {
                display: flex;
                gap: 14px;

                span {
                    cursor: pointer;
                }

                .translate, .reply {
                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }

    .like {
        height: 100%;
        width: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 6px;
        color: darken($color: $text-color, $amount: 40%);

        .heart { 
            &:hover {
                color: $text-color;
                cursor: pointer;
            }
        }

        .like-count {
            margin-top: 4px;
            font-size: 12px;
        }
    }
}