@import './src/variables.scss';

.story-content {
    flex-shrink: 0;
    width: 86px;
    height: 106px;
    padding: 4px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    position: relative;

    .story-border {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to right, rgb(255, 220, 24) , rgb(255, 0, 170));
    }

    .story {
        height: 70px;
        width: 70px;
        background-color: $text-color;
        border-radius: 50%;
        border: 4px solid $bg-color;
    }

    .plus {
        height: 21px;
        width: 21px;
        position: absolute;
        border-radius: 50%;
        background-color: $blue-plus-story;
        border: 2px solid $bg-color;
        bottom: 32px;
        right: 12px;
        z-index: 50;
        text-align: center;
        color: $text-color;
        font-size: 20px;
        font-weight: 400;
    }

    .username {
        color: $text-color;
        font-size: 14px;
        margin-top: 10px;
    }
}
