@import '../../variables.scss';

.comments-modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    background-color: rgba($bg-color, 0.75);
    display: flex;
    justify-content: center;
    position: fixed;

    @media screen and (min-width: 1px) {
        align-items: flex-end;
    }

    @media screen and (min-width: 1024px) {
        align-items: center;
    }

    .comments-content {
        width: 100%;
        max-width: 960px;
        background-color: $main-gray;

        @media screen and (min-width: 1px) {
            height: 540px;
            border-radius: 14px 14px 0 0;
        }
    
        @media screen and (min-width: 1024px) {
            height: 620px;
            border-radius: 0px;
        }

        .comments-header {
            height: 56px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 1px solid darken($color: $text-color, $amount: 70%);

            .comment-title-container {
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                color: $text-color;
                border-top: 3px solid darken($color: $text-color, $amount: 50%);;
                user-select: none;
                font-weight: 600;
            }
        }

        .comment-modal-content {
            overflow-y: auto;
            height: fit-content;
            width: 100%;
        }
    }
}