@import '../../variables.scss';

.bottom-modal-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100000;
    background-color: rgba($bg-color, 0.75);
    display: flex;
    justify-content: center;
    position: fixed;

    @media screen and (min-width: 1px) {
        align-items: flex-end;
    }

    @media screen and (min-width: 1024px) {
        align-items: center;
    }

    .bottom-modal-content {
        width: 100%;
        max-width: 960px;
        background-color: $main-gray;

        @media screen and (min-width: 1px) {
            height: 540px;
            border-radius: 14px 14px 0 0;
        }
    
        @media screen and (min-width: 1024px) {
            height: 620px;
            border-radius: 0px;
        }
    }
}