$bg-color: #000;
$text-color: #fff;
$border-color: #dbdbdb;
$background-input-color: #fafafa;
$error-color: rgb(196, 27, 27);
$blue-login-button: #0099ff;
$blue-register-button: #0071f4;
$blue-plus-story: #069bff;
$fb-color: #7195e2;
$notification-color: #ff3040;
$main-gray: #262626;