$bg-color: #000;
$text-color: #fff;
$border-color: #dbdbdb;
$background-input-color: #fafafa;
$error-color: red;
$blue-login-button: #4cb5f9;
$blue-register-button: #0071f4;
$blue-plus-story: #069bff;
$fb-color: #385185;
$notification-color: #ff3040;